 
/.architectury-transformer/
/.gradle/
/*/.gradle/
/.settings/
/.idea/
/.run/
/.vscode/
/bin/
/build/
/*/build/*
/eclipse/
/jars/
/lib/
/libs/
/out/
/run/
/*/run/
/Unused Lib/
/.classpath
/.directory
/.project
/CREDITS-fml.txt
/forge-1.7.10-10.13.4.1566-1.7.10-changelog.txt
/gradlew
/gradlew.sh
/gradlew.bat
/LICENSE-fml.txt
/MinecraftForge-Credits.txt
/MinecraftForge-License.txt
/mod.zip
/mixin-0.8-SNAPSHOT.jar
/remappedSrc/
